fv-main
    raad-header
        div.fv-title
            fv-input.fv-form-control(type='search', class="search-input", placeholder='جست‌و‌جو کنید...', v-model="searchQuery")
        fv-button.fv-primary.fv-icon(@click="$store.commit('log', $route)")
            i.fa.fa-plus
    fv-content.no-padding
        div.fv-row
            raad-item.fv-col-lg-3.fv-col-md-4.fv-col-sm-6.fv-col-xs-12(
                v-for="(item, index) in items",
                :key="item.key",
                :title="item.title",
                @edit="goToItem(item.key)",
                @delete="items.splice(index, 1)") {{item.description}}
