fv-main
    fv-content
        div.home
            h2.fv-col-xs-1of1
                i.fa.fa-smile-o.home-icon
                =" سلام. به اپلیکیشن راد بک‌آفیس خوش آمدید. از منوی کناری بخش مورد نظر خود را انتخاب کنید."