#app .item{
    overflow: hidden;
    font-size: .9em;
    border: 1px solid #cad0d0;
    box-shadow: 0 7px 19px 0 rgba(0,0,0,.08);
}

#app .item .title{
    background: #dcdcdc;
    color: #3d5c75;
    border-bottom: solid 1px #cad0d0;
    padding: 5px 11px;
    cursor: pointer;
}
#app .item .description{
    padding: 18px 11px;
    background: #f4f7f7;
}

#app .item .actions{
    padding: 0;
    border-top: solid 1px #cad0d0;
}
#app .item .actions .action.delete{
    color: #9c1b1b;
}

#app .item .actions .action{
    border: none;
    border-radius: 0;
    box-shadow: none;
}