fv-main.product
  raad-header(title="محصولات")
    fv-button.fv-primary.fv-icon
      i.fa.fa-plus
  fv-content.fv-row
    fv-table(:class="$root.mainClass",
      local,
      :fields="tableFields",
      :rows="items",
      @click-row="$root.$router.push('product/'+$event.id)")
