fv-sidebar.sidebar(ref='sidebar', position='right', :pin='null', :width="220")
  fv-main
    fv-header.user-dashboard-header(:height="150")
      //fv-button.fv-primary.fv-icon.fv-grow(@click="$refs.menu.open($event)")
          i.fa.fa-user.user-dashboard-icon
          h3(v-html="$store.state.me.username", v-show="$store.state.me.loggedIn")
    fv-content.fv-no-padding
      fv-list.fv-no-outline-border(@click-item="go($event)", :items="items")
  //fv-menu(ref="menu", @click-item="action($event)", :options="menuItems")