fv-main
    fv-header
        fv-button.fv-primary.fv-icon(@click="$store.state.sidebar.toggle()")
            i.fa.fa-bars
        div.fv-title
            h2(v-html="title")
        fv-button.fv-primary.fv-icon(@click="$store.commit('go', -1)")
            i.fa.fa-chevron-left
    fv-content
        div.notfound
            img(src="404.jpg")